/*Fonts*/
@font-face {
	font-family: SansationFont;
	src: url(/Fonts/SansationLight.woff);
}
* {
	font-family: SansationFont;
}

/*Global Elements*/
#r-colour {
}
.stretch {
	margin: -8px;
}
hr.line {
	display: block;
    border: 1px solid #f1f1f1;
    margin-bottom: 4px;
	margin-right: 10px;
	margin-left: 10px;
}
.centered {
	position: relative;
	left: 50%;
	transform: translate(-50%);
}
.footer {
	position: relative;
	bottom: 0%;
	height: 60px;
	width: 100%;
	margin-top: 20px
}

/*Navigation Bar*/
.active {
	float: right;
	display: block;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
	transition: 0s;
	color: white;
	text-decoration: none;
    padding: 13px;
	border-radius: 500px;
}
li.nav {
	display: block;
	float: right;
}
a.nav {
	float: right;
	display: block;
	color: #5B5B5B;
	text-decoration: none;
    padding: 13px;
	border-radius: 500px;
	background-color: white;
	transition: 0.2s;
}
li a.nav:hover {
	background-color: #EFEFEF;
	color: black;

}
a.account {
	float: right;
	text-decoration: none;
	padding: 13px;
	color: #5B5B5B;
}
div.nav {
	z-index:99999;
	background-color: white;
	height: 50px;
	padding: 8px;
	margin-bottom: 8px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

/*Big Image*/
.container {
	position: relative;
	text-align: center;
}

/*Boxes for Locations*/
div.location {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	text-align: left;
	padding: 10px;
	width: 250px;
	height: 300px;
	transition: 0.15s;
}
div.location:hover {
	box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.85), 0 6px 25px 0 rgba(0, 0, 0, 0.3);
}